<!DOCTYPE html>
<html lang='en'>
    <head>
        <title></title>
        <meta charset='utf-8' />
        <link rel='stylesheet' type='text/css' src="../static/index.css" href='../static/index.css' />
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    </head>
    <body>
        <div id='wrapper'>
            <h1>About Me</h1>
            <p>I am a Python web developer and love going to hackathons in my spare time. I love making things and meeting new people! Please might be surprised to learn that I have raced motorcyles at over 160mph and I'm an avid photographer.</p>
        </div>
    </body>
</html>